<div class="container">


  <div class="row mb-1">

    <body *ngIf="dataLoaded==true">
      <h3 class="text-center">For rent a car, please click on car image.</h3>

      <hr>

      <!-- filters of brand and color -->
      <div class="row mb-1">

        <!-- <div class="col col-3">
          <div class="row mb-4">
            <div class="row mb-1">
              
              <input type="text " [(ngModel)]="filterText" class="form-control" id="filterText"
                placeholder="please type name of car for your seeking">
            </div>

            <div class="mb-1" *ngIf="filterText">aranan: {{filterText}}
            </div>
          </div>
          <div class="row mb-1">
            <select [(ngModel)]="filterText" class="form-select" aria-label="Default select example">
              <option *ngFor="let brand of brands" [value]="brand.brandName">{{brand.brandName}}</option>
            </select>
            <h6>car name filter</h6>
          </div>

          <div class="row mb-1">
            <select [(ngModel)]="colorFilter" class="form-select" aria-label="Default select example">
              <option *ngFor="let color of colors" [value]="color.colorName" [selected]="">{{color.colorName}}</option>
            </select>
            <h6>color filter</h6>
          </div>
        </div>
 -->


        <div class="col col-12">
          <table class="table">
            <tbody>
              <div class="row ">
                <div class="col-md-7 col-lg-12">
                  <form class="needs-validation" novalidate>
                    <div class="row g-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
                      </svg>
                      
                      <div class="card text-white bg-secondary mb-3" style="width: 25rem;"
                        *ngFor="let car of cars | filterPipeCar:filterText |filterPipeCarColor:colorFilter">
                        <div class="py-2 text-center">

                          <div class="hover-overlay-container">

                            <img class="overlay-image" src="{{car.carImage}}">
                            <div class="overlay-btn-container">
                              <button (click)="checkCarFreeOrNot(car)"
                                class="w-100 btn btn-primary btn-lg">Rent</button>
                            </div>
                          </div>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">{{car.brandName}}</h5>
                          <ul lass="list group">
                          <p class="card-text">{{car.carName}}</p>
                          <p class="card-text">{{car.colorName}}</p>
                          <p class="card-text">{{car.modelYear}}</p>
                          <p class="card-text">{{car.dailyPrice | currency : "₺"}}</p>
                          <p class="card-text">{{car.description}}</p>
                          <p class="card-text">{{car.modelYear}}</p>
                        </ul>
                        </div>
                        <a (click)="checkCarFreeOrNot(car)" class="btn btn-primary">Rental</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </tbody>
          </table>
        </div>
      </div>
    </body>
    <hr class="my-5">


    <body *ngIf="currentCar">
      <div class="row mb-2">
        <div class="col col-4">
          <img src={{imagePath}} width="280" height="150" alt="{{carinfo}}">
          <dl>
            <dt>{{currentCar.brandName}} "properties"
            <dd> {{currentCar.brandName}} {{currentCar.colorName}} {{currentCar.modelYear}} {{currentCar.description}}
              {{currentCar.manifacturer}} product by {{currentCar.production}} assembly: {{currentCar.assembly}}
              design by {{currentCar.designer}} {{currentCar.class}} {{currentCar.bodyStyle}} engine:
              {{currentCar.engine}}
              {{currentCar.powerOut}} transmission: {{currentCar.transmission}}
          </dl>
        </div>
        <div class="col col-8">

          <div class="row mb-1">
            <div class="col col-8"></div>
            <div class="col col-2"></div>
            <div class="col col-2">
              <a (click)="reFresh()" class="navbar-brand">Return car list</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

            </div>
          </div>

          <app-member-ship></app-member-ship>
          <app-car-rental></app-car-rental>
        </div>
      </div>
    </body>
  </div>
</div>