<body class="bg-success">
  

<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a routerLink="" class="nav-link" >Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="datamanager" class="nav-link active" aria-current="page">DataManager</a>
        </li>
        <li class="nav-item">
          <a href="cars/add" class="nav-link" >car add</a>
        </li>
        <li class="nav-item">
          <a routerLink="login" class="nav-link" >Login</a>
        </li>
        <li class="nav-item">
          <div class="hover-overlay-container">

            <img class="overlay-image" width="100" src="https://www.motortrend.com/uploads/sites/5/2020/01/Lamborghini-Huracan-Evo-RWD-front-three-quarters.jpg">
            <div class="overlay-btn-container">
              <button routerLink="cars"
                class="btn btn-outline-secondary">Rent</button>
            </div>
          </div>
        </li>
        
        <li class="nav-item">
          <img src="https://scontent.fesb3-2.fna.fbcdn.net/v/t1.6435-9/168851874_4585041024856286_5945590569367529056_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=730e14&_nc_ohc=LNiPTiSIxIMAX_mpi1Z&_nc_ht=scontent.fesb3-2.fna&oh=8eefed477b89abb55ec4f29bdea32574&oe=608E3C9C" 
          width="700" height="40"  alt="">
        </li>
      </ul>
      <app-users></app-users>
    </div>

  </div>
</nav>
